<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847957872517-7m04rbief7ujk250l6i90s8e0ofj1ote.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847957872517-7m04rbief7ujk250l6i90s8e0ofj1ote</string>
	<key>API_KEY</key>
	<string>AIzaSyABFzE0HRv896Q234vmlU8PlIGHYpcnmhI</string>
	<key>GCM_SENDER_ID</key>
	<string>847957872517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bankingAppAssessent</string>
	<key>PROJECT_ID</key>
	<string>bankingapp-9673b</string>
	<key>STORAGE_BUCKET</key>
	<string>bankingapp-9673b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847957872517:ios:629f0ae2605f35a7757eec</string>
</dict>
</plist>